/*  AXIS: 
    By default Flexbox has HORIZONTAL direction - starts from left to right
    MAIN AXIS - from left to right
    CROSS AXIS - from top to bottom 
    We can flip the direction of the flexbox too: column, row
*/

.container {
    border: 5px solid blue;
    display: flex;

    /* Main AXIS is horizontal */
    /* flex-direction: row; */

    /* Cross AXIS is vertical */
    /* flex-direction: column; */

    
    /* justify-content: flex-start; */
    /* justify-content: space-around */
    /* justify-content: flex-end */
    /* justify-content: space-between */
    /* justify-content: space-evenly */
    /* box responsive vertically */
    /* height: 100% */

    /* align-items: center */

    /* flex-wrap: wrap */
   

    /* .item1, .item2, item3 */
    /* .item4 {
        order: 0
    }    
    */
    /* order: 1 */

    /* @media all and (max-width: 600px) {
        .container {
            flex-wrap: wrap;   
        }
        .container > li {
            flex: 1 1 50%;
       } 
     }
       .search > input {
           text-align: center; 
       }
    }
    */

      /* @media all and (max-width: 400px) {
        .container > li {
            flex: 1 1 100%;
       } 
     }
       .search > input {
           order: 1;
           text-align: center; 
       }
    }
    */
}


.logout {
    margin-left: auto;
    /* align-self: flex-start */
    /* align-self: flex-end */
}

.home {
    margin-right: auto;
}

/* flex-grow, flex-shrink, flex-basis */
/* makes the box responsive */
/* if we remove this, the search box will be the only box responsive in the nav */
.container > div {
    flex: 1;
}

/* the only responsive box in the nav */
.container > .search {
    flex: 2;
}


